<ion-view view-title="Create">
  <ion-content>
    <ion-list class="card has-header">
		<ion-item class="item-divider">Create Study Groups</ion-item>
		<form ng-submit="createInput()">
			<ion-item class="item-input">
				<label>
					<span class="input-label">Course Code</span>
					<select ng-model="create.courseCode">
					<option></option>
						<option ng-repeat="option in codes.options">{{option}}</option>
					</select>
				</label>
				<label>
					<span class="input-label">Course Number</span>
					<input type="text" ng-model="create.courseNumber">
				</label>
			</ion-item>
			<ion-item class="item-input">
				<label>
					<span class="input-label">Start Time</span>
					<select ng-model="create.time">
					  <option>1:00</option>
					  <option>2:00</option>
					  <option>3:00</option>
					  <option>4:00</option>
					  <option>5:00</option>
					  <option>6:00</option>
					  <option>7:00</option>
					  <option>8:00</option>
					  <option>9:00</option>
					  <option>10:00</option>
					  <option>11:00</option>
					  <option>12:00</option>
					</select>
				</label>
				<label>
					<span class="input-label">Date</span>
					<input type="date" ng-model="create.date">
				</label>
				
			</ion-item>
			<ion-item class="item-input">
				<label>
					<span class="input-label">Location</span>
					<input type="text" ng-model="create.location">
				</label>
			</ion-item>
			<ion-item class="item-input">
				<label>
					<span class="input-label">Description</span>
					<input type="text" ng-model="create.description">
				</label>
			</ion-item>
			<ion-item class="item-input">
				<label>
					<span class="input-label">Capacity</span>
					<select ng-model="create.capacity">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
					</select>
				</label>
			</ion-item>
			<ion-item>
				<button class="button button-block button-positive" type="submit">Save</button>
			</ion-item>
		</form>
	</ion-list>
  </ion-content>
</ion-view>
