<ion-view view-title="Home">
  <ion-content class="padding">
	<!--list of scheduled study sessions the user created-->
	<ion-list class="card">
		<ion-item class="item-divider">Study Group Created</ion-item>
		<ion-item>
			<h4>Course: </h4>
			<p>Time: </p>
			<p>Capacity: </p>
			<p>Lcation: </p>
		</ion-item>
	</ion-list>
	
	<!--list of scheduled study sessions the user joined-->
	<ion-list class="card">
		<ion-item class="item-divider">Study Group Joined</ion-item>
		<ion-item>
			<h4>Course: </h4>
			<p>Time:</p>
			<p>Capacity: </p>
			<p>Lcation: </p>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
