
<ion-view view-title="Profile">
  <ion-content>
	<ion-list class="card">
		<ion-item>{{ profile.email }}</ion-item>
		<form ng-submit="updateProfile()">
			<!--<i class="padding item icon ion-person"></i>-->
				<label class="item item-input">
					<input type="file" name="filename" accept="image/gif, image/jpeg, image/png" onchange="readURL(this);" ng-model="profile.picture"></input>
				</label>
				<img id="image-holder" src="#" alt="your image"/>
				<label class="item item-input">
					<span class="input-label">Username</span>
					<input type="text" ng-model="profile.username">
				</label>
				<label class="item item-input">
				<label>
					<span class="input-label">Program</span>
					<select ng-model="profile.program">
					  <option>Arts</option>
					  <option>Business</option>
					  <option>Communications</option>
					  <option>Computing Science</option>
					  <option>Engineering</option>
					</select>
				</label>
				</label>
				<label class="item">
					<button class="button button-block button-dark" type="submit">Save</button>
				</label>
				
		</form>
	</ion-list>
  </ion-content>
</ion-view>
