<ion-view view-title="StudyGroup">
  <ion-content>
    <ion-list class="card">
		<ion-item>
			<p>Course: {{group.courseCode}} {{group.courseNumber}} </p>
		</ion-item>
		<ion-item>
			<p>Start Time: {{group.startTime}} </p>
		</ion-item>
		<ion-item>
			<p>Date: {{group.date}}</p>
		</ion-item>
		<ion-item>
			<p>Capeacity: {{group.capacity}}</p>
		</ion-item>
		<ion-item>
			<p>Location: {{group.location}}</p>
		</ion-item>
		<ion-item>
			<p>Description:{{group.description}}</p>
		</ion-item>
		<ion-item>
			<button class="button button-block button-dark">Join</button>
		</ion-item>
	</ion-list>
  </ion-content>
</ion-view>
